{% extends 'base.html' %} {% block title %} Purchase Return {% endblock %}
<!-- heading -->
{%block heading %} Purchase Return{%endblock%}
<!-- content -->
{%block content%}

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Purchase ID</th>
        <th>Customer</th>
        <th>Return Date</th>
        <th>Total</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>#5089</td>
        <td>Joseph wheeler</td>
        <td>6 April, 2023</td>
        <td>$2,564</td>
        <td><a href="#">View Details</a></td>
      </tr>
      <tr>
        <td>#5089</td>
        <td>Joseph wheeler</td>
        <td>6 April, 2023</td>
        <td>$2,564</td>
        <td><a href="#">View Details</a></td>
      </tr>
      <tr>
        <td>#5089</td>
        <td>Joseph wheeler</td>
        <td>6 April, 2023</td>
        <td>$2,564</td>
        <td><a href="#">View Details</a></td>
      </tr>
      <tr>
        <td>#5089</td>
        <td>Joseph wheeler</td>
        <td>6 April, 2023</td>
        <td>$2,564</td>
        <td><a href="#">View Details</a></td>
      </tr>
      <tr>
        <td>#5089</td>
        <td>Joseph wheeler</td>
        <td>6 April, 2023</td>
        <td>$2,564</td>
        <td><a href="#">View Details</a></td>
      </tr>
      <tr>
        <td>#5089</td>
        <td>Joseph wheeler</td>
        <td>6 April, 2023</td>
        <td>$2,564</td>
        <td><a href="#">View Details</a></td>
      </tr>
      <tr>
        <td>#5089</td>
        <td>Joseph wheeler</td>
        <td>6 April, 2023</td>
        <td>$2,564</td>
        <td><a href="#">View Details</a></td>
      </tr>
      <tr>
        <td>#5089</td>
        <td>Joseph wheeler</td>
        <td>6 April, 2023</td>
        <td>$2,564</td>
        <td><a href="#">View Details</a></td>
      </tr>
      <tr>
        <td>#5089</td>
        <td>Joseph wheeler</td>
        <td>6 April, 2023</td>
        <td>$2,564</td>
        <td><a href="#">View Details</a></td>
      </tr>
      <tr>
        <td>#5089</td>
        <td>Joseph wheeler</td>
        <td>6 April, 2023</td>
        <td>$2,564</td>
        <td><a href="#">View Details</a></td>
      </tr>
      <tr>
        <td>#5089</td>
        <td>Joseph wheeler</td>
        <td>6 April, 2023</td>
        <td>$2,564</td>
        <td><a href="#">View Details</a></td>
      </tr>

      <!-- Repeat other rows as necessary -->
    </tbody>
  </table>
</div>

<div class="pagination-container row">
  <div class="col-md-6">
    <div>
      Showing
      <select class="form-control d-inline-block w-auto" id="itemsPerPage">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
      of 50
    </div>
  </div>
  <div class="col-md-6">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-md-end">
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
      </ul>
    </nav>
  </div>
</div>
{%endblock%}
